# Application Settings
DEBUG=True
NODE_ENV=development

# docker build args
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

AGENT_RECURSION_LIMIT=30

# Search Engine, Supported values: tavily (recommended), duckduckgo, brave_search, arxiv, searxng
SEARCH_API=tavily
TAVILY_API_KEY=tvly-xxx
# BRAVE_SEARCH_API_KEY=xxx # Required only if SEARCH_API is brave_search
# SEARXNG_BASE_URL="http://localhost:8080" # Required only if SEARCH_API is searxng
# JINA_API_KEY=jina_xxx # Optional, default is None
# CRAWLER_TYPE="jina" # Supported values: jina, crawl4ai
# CRAWL4AI_URL="" # Required only if CRAWLER_TYPE is crawl4ai. Example: http://localhost:11235/crawl

# Optional, volcengine TTS for generating podcast
VOLCENGINE_TTS_APPID=xxx
VOLCENGINE_TTS_ACCESS_TOKEN=xxx
# VOLCENGINE_TTS_CLUSTER=volcano_tts # Optional, default is volcano_tts
# VOLCENGINE_TTS_VOICE_TYPE=BV700_V2_streaming # Optional, default is BV700_V2_streaming

# Option, for langsmith tracing and monitoring
# LANGSMITH_TRACING=true
# LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
# LANGSMITH_API_KEY="xxx"
# LANGSMITH_PROJECT="xxx"

# [!NOTE]
# For model settings and other configurations, please refer to `docs/configuration_guide.md`
